@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide the default scrollbar
::-webkit-scrollbar {
  display: none;
} */

/* Show only horizontal scrollbar */
::-webkit-scrollbar {
  height: 10px;
}

/* Show only vertical scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Change the color of the scrollbar */
::-webkit-scrollbar {
  background-color: transparent;
}

/* Change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: black;
}

/* Change the color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
